.abtwork{
    .container{
        background-color: $introBg;
        background-image: url("/images/bg-pattern-how-we-work-mobile.svg");
        background-repeat: no-repeat;
        background-position-x: right;
        padding: 75px 0 70px;
        color: $lightGray;
        text-align: center;
    }
    h3{
        font-size: 2.62em;
        padding: 0 43px;
        margin: 0 0 45px;
    }
    a {
            border: 1px solid $lightGray;
            color: $lightGray;
            padding: 15px 25px;
            text-transform: uppercase;
            display: inline-block;
            letter-spacing: 1px;
        }
    a:hover{
       background-color: $lightGray;
       color: $txtClr;
    }
    @include breakpoint(large){
        .container{
            background-image: url("/images/bg-pattern-intro-right-desktop.svg");
            text-align: left;
            display: grid;
            grid-template-columns: repeat(2, auto 1fr);
            align-items: center;
            padding: 76px 82px;
            h3{
                margin-bottom: 0;
                font-size: 3.62em;
                padding: 0;
            }
            a{
                grid-column: -1;
                margin-top: 0;
            }
        }
    }
}