.different{
    margin-top: 142px;
    text-align: center;
    color: $introBg;
    @include breakpoint(large){
        margin-top: 300px;
        text-align: left;
    }
    h2{
        padding-top: 45px;
        margin-bottom: 0;
        position: relative;
        @include breakpoint(large){
            font-size: 4.62em;
            font-weight: 400;
        }
    }
    h2::before{
        content: "";
        border-top: 1px solid $grayishClr;
        position: absolute;
        width: 150px;
        top: 0;
        left: 50%;
        margin-left: -75px;
        @include breakpoint(large){
            left: 0;
            margin-left: 0;
        }
    }
    &_main{
        margin-top: 85px;
        margin-bottom: 145px;
        display: grid;
        @include breakpoint(large){
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 56px;
            justify-content: center;
            align-items: center;
            margin-bottom: 162px;
        }
        h4{
            font-size: 1.8em;
            font-weight: 400;
            margin: 40px 0 28px 0;
        }
        article:not(:first-child){
            margin-top: 62px;
            @include breakpoint(large){
                margin-top: 0;
            }
        }
        p{
            color: $grayishClr;
            line-height: 1.6;
        }
    }
}