.footer{
    font-size: 0.875em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 147px -20px 0;
    padding: 65px 0;
    background-color: $lightGray;
    position: relative;
   
    .container{
        padding: 0 20px;
    }
    &_head{
        position: relative;
        padding-bottom: 38px;
        text-align: center;
        .logo{
            display: block;
            margin: 0 auto;
            padding-bottom: 30px;;
        }
        a:not(:last-child){
            margin-right: 15px;
        }
        a > i{
            font-size: 25px;
        }
        a > i:hover{
            color: $txtClr;
        }
    }
    @include breakpoint(large){
        &_head{
            display: grid;
            grid-template-columns: minmax(100px, 1fr) repeat(4, auto);
            grid-gap: 20px;
            padding-bottom: 33px;
            margin-bottom: 50px;
            text-align: left;
             .logo{
               display: inline;
               margin: 0;
               padding-bottom: 0;
            }
        }
    }
   
    &_head::after{
        content: "";
        border-top: 1px solid $grayishClr;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &_content{
        display: grid;
        place-items: center;
        text-align: center;
        @include breakpoint(large){
            grid-template-columns: repeat(4, 1fr);
            justify-content: space-between;
            text-align: left;
            place-items: initial;
        }
        ul{
            margin: 40px 0 0;
            padding-left: 0;
        }
        @include breakpoint(large){
            margin: 0;
           
        }
        ul > li{
            list-style-type: none;
        }
        ul > li:not(:last-child){
            margin-bottom: 20px;
        }
        ul > li:not(:nth-child(1)){
            letter-spacing: 1px;
            
        }
        ul > li > a {
            color: $txtClr;
        }
        ul > li:not(:nth-child(1)) > a:hover{
            text-decoration: underline;
            
        }
        ul > li:first-child{
            margin-bottom: 40px;
        }
        ul > li:first-child > a{
            color: $grayishClr;
        }
    }
}
footer::before{
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("/images/bg-pattern-footer-mobile.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    @include breakpoint(large){
        background-image: url("/images/bg-pattern-footer-desktop.svg");
    }
}