html{
    font-size: 100%;
    box-sizing: border-box;
}
*, *::after, *::before{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    font-family: $font-body;
    line-height: 1.3;
    padding: 0 20px;
    overflow-x: hidden;
}
h1, h2, h3, h4{
    font-family: $font-title;
    line-height: 1em;
}
h1, h2{
    font-size: 2.8em;
}
a{
    text-decoration: none;
    color: $grayishClr;
}

.hidden{
    display: none;
}
.main{
    transition: all 0.5s ease-in-out;
}
.height{
    height: 100vh;
    overflow-y: hidden;
}