header{
    position: relative;
   
    .container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            padding: 32px 0;
            align-items: center;
            a{
                display: none;
            }
            .menuBtn, .closeBtn{
                
                grid-column: -1;
                transition: all 0.5s ease-in-out;
             }
            
             .menuBtn.hidden, .closeBtn.hidden{
                display: none;
             }
            
        @include breakpoint(large){
            grid-template-columns: minmax(100px, 1fr) repeat(4, auto);
            grid-gap: 20px;
            font-size: 0.75em;
            .menuBtn{
                display: none;
            }
            a{
                display: inline;
            }
       }
       .menuBtn:hover{
        cursor: pointer;
       }
       .closeBtn:hover{
           cursor: pointer;
       }
       @include breakpoint(large){
           font-size: 1em;
           grid-gap: 25px;
           
       }
       a{
           text-transform: uppercase;
           font-weight: 600;
           letter-spacing: 2px;
        }
        a:hover{
            color: $introBg;
            background-color: $lightGray;
        }
        a.btn{
               border: 2px solid $txtClr;
               padding: 10px 20px;
               color: $txtClr;
               margin-left: 4px;
              
               @include breakpoint(large){
                    padding: 15px 25px;
                    margin-left: 7px;
               }
            }
        a.btn:hover{
            background-color: $introBg;
            color: $lightGray;
        }
        
    }
}