.intro{
    background-color: $introBg;
    margin: 0 -20px;
    position: relative;
    
    @include breakpoint(large){
        height: 599px;
        padding: 0 20px;
        .container{
            display: flex;
            padding-top: 105px;
        }
        .container::before{
            content: "";
            background-image: url("/images/bg-pattern-intro-right-desktop.svg");
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            right: 0;
            background-position-x: right;
        }
        .container::after{
            content: "";
            background-image: url("/images/bg-pattern-intro-left-desktop.svg");
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
            position: absolute;
            bottom: -56%;
            left: 0;
            background-position-y: bottom;
        }
        &_img{
            order: 2;
        }
    }
    &_imgMob{
        margin-bottom: -5px;
        img{
            width: 100%;
            max-width: 100%;
            @include breakpoint(large){
                display: none;
            }
        }
        
    }
    &_imgDesktop{
        img{
            display: none;
            @include breakpoint(large){
                display: inline-block;
            }
        }
    }
    &_txt{
        text-align: center;
        padding: 100px 25px 92px;
        position: relative;
        color: $lightGray;
        @include breakpoint(large){
            p{
                margin-bottom: 0;
            }
            text-align: left;
            padding-bottom: 0;
            padding-right: 0;
            padding-left: 0;
                     
        }
        a {
            border: 1px solid $lightGray;
            color: $lightGray;
            padding: 15px 25px;
            text-transform: uppercase;
            display: inline-block;
            margin-top: 35px;
            position: relative;
            z-index: 11;
        }
        a:hover{
            background-color: $lightGray;
            color: $introBg;
        }      
        h1{
            margin-bottom: 22px;
            margin-top: 0;
            position: relative;
            z-index: 1;
            @include breakpoint(large){
                margin-bottom: 40px;
                font-size: 4.62em;
            }
        }
        h1::before{
            content: "";
            border-top: 1px solid #fff;
        }
        
    }
    &_txt::before{
            content: "";
            background-image: url("/images/bg-pattern-intro-left-mobile.svg");
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
           @include breakpoint(large){
               background-image: none;
               border-top: 1px solid $lightGray;
               top: 0px;
               width: 150px;
           }
    }
    &_txt::after{
            content: "";
            background-image: url("/images/bg-pattern-intro-right-mobile.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position-x: right;
            position: absolute;
            top: 73%;
            right: 0;
            width: 100%;
            height: 100%;
            @include breakpoint(large){
               background-image: none
           }
        }
    
    
}