.menu{
    display: none;
    background-color: $txtClr;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease-in-out;
    margin: 0 -20px;
    height: 100%;
    padding-top: 40px;
  
    &_link{
        font-size: 25px;
        color: $lightGray;
        text-transform: uppercase;
        margin-bottom: 50px;
        padding: 10px 0;
        letter-spacing: 5px;
        text-align: center;
        width: 90%;
    }
    &_linkBtn{
        padding: 9px 0;
        border: 1px solid #fff;       
        
    }
}
.menu::before{
    content: "";
    background-image: url("/images/bg-pattern-mobile-nav.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0%;
}
.menu.flex{
    display: flex;
}
.menuBtn{
    z-index: 2;
}