//fonts
$font-title: 'DM Serif Display', serif;
$font-body:'Karla', sans-serif;

//colors
$introBg: #2d2640;
$iconBg: #95a9c6;
$txtClr: #2b272f;
$grayishClr: #837d87;
$lightGray: #fafafa;

//BreakPoints
$breakpoints: (
    small: 499px,
    medium: 699px,
    large: 999px,
    xlarge: 1399px,
);

@mixin breakpoint($size) {
    $breakpoint-value: map-get($breakpoints , $size);

    @media screen and (min-width: $breakpoint-value){
        @content;
    }
}