html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  line-height: 1.3;
  padding: 0 20px;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-family: "DM Serif Display", serif;
  line-height: 1em;
}

h1, h2 {
  font-size: 2.8em;
}

a {
  text-decoration: none;
  color: #837d87;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

header {
  position: relative;
}

header .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 0;
  align-items: center;
}

header .container a {
  display: none;
}

header .container .hamburger {
  grid-column: -1;
}

header .container .close {
  display: none;
}

@media screen and (min-width: 999px) {
  header .container {
    -ms-grid-columns: minmax(100px, 1fr) (auto)[4];
        grid-template-columns: minmax(100px, 1fr) repeat(4, auto);
    grid-gap: 20px;
    font-size: 0.75em;
  }
  header .container .hamburger {
    display: none;
  }
  header .container a {
    display: inline;
  }
}

@media screen and (min-width: 999px) {
  header .container {
    font-size: 1em;
    grid-gap: 25px;
  }
}

header .container a {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

header .container a.btn {
  border: 2px solid #2b272f;
  padding: 10px 20px;
  color: #2b272f;
  margin-left: 4px;
}

@media screen and (min-width: 999px) {
  header .container a.btn {
    padding: 15px 25px;
    margin-left: 7px;
  }
}

.intro {
  background-color: #2d2640;
  margin: 0 -20px;
  position: relative;
}

@media screen and (min-width: 999px) {
  .intro {
    height: 599px;
    padding: 0 20px;
  }
  .intro .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 105px;
  }
  .intro .container::before {
    content: "";
    background-image: url("/images/bg-pattern-intro-right-desktop.svg");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-position-x: right;
  }
  .intro .container::after {
    content: "";
    background-image: url("/images/bg-pattern-intro-left-desktop.svg");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: -56%;
    left: 0;
    background-position-y: bottom;
  }
  .intro_img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.intro_imgMob {
  margin-bottom: -5px;
}

.intro_imgMob img {
  width: 100%;
  max-width: 100%;
}

@media screen and (min-width: 999px) {
  .intro_imgMob img {
    display: none;
  }
}

.intro_imgDesktop img {
  display: none;
}

@media screen and (min-width: 999px) {
  .intro_imgDesktop img {
    display: inline-block;
  }
}

.intro_txt {
  text-align: center;
  padding: 100px 25px 92px;
  position: relative;
  color: #fafafa;
}

@media screen and (min-width: 999px) {
  .intro_txt {
    text-align: left;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
  }
  .intro_txt p {
    margin-bottom: 0;
  }
}

.intro_txt a {
  border: 1px solid #fafafa;
  color: #fafafa;
  padding: 15px 25px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 35px;
  background-color: black;
}

.intro_txt h1 {
  margin-bottom: 22px;
  margin-top: 0;
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 999px) {
  .intro_txt h1 {
    margin-bottom: 40px;
    font-size: 4.62em;
  }
}

.intro_txt h1::before {
  content: "";
  border-top: 1px solid #fff;
}

.intro_txt::before {
  content: "";
  background-image: url("/images/bg-pattern-intro-left-mobile.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 999px) {
  .intro_txt::before {
    background-image: none;
    border-top: 1px solid #fafafa;
    top: 0px;
    width: 150px;
  }
}

.intro_txt::after {
  content: "";
  background-image: url("/images/bg-pattern-intro-right-mobile.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 73%;
  left: 70%;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 999px) {
  .intro_txt::after {
    background-image: none;
  }
}

.different {
  margin-top: 142px;
  text-align: center;
  color: #2d2640;
}

@media screen and (min-width: 999px) {
  .different {
    margin-top: 300px;
    text-align: left;
  }
}

.different h2 {
  padding-top: 45px;
  margin-bottom: 0;
  position: relative;
}

@media screen and (min-width: 999px) {
  .different h2 {
    font-size: 4.62em;
    font-weight: 400;
  }
}

.different h2::before {
  content: "";
  border-top: 1px solid #837d87;
  position: absolute;
  width: 150px;
  top: 0;
  left: 50%;
  margin-left: -75px;
}

@media screen and (min-width: 999px) {
  .different h2::before {
    left: 0;
    margin-left: 0;
  }
}

.different_main {
  margin-top: 85px;
  margin-bottom: 145px;
  display: -ms-grid;
  display: grid;
}

@media screen and (min-width: 999px) {
  .different_main {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 56px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 162px;
  }
}

.different_main h4 {
  font-size: 1.8em;
  font-weight: 400;
  margin: 40px 0 28px 0;
}

.different_main article:not(:first-child) {
  margin-top: 62px;
}

@media screen and (min-width: 999px) {
  .different_main article:not(:first-child) {
    margin-top: 0;
  }
}

.different_main p {
  color: #837d87;
  line-height: 1.6;
}

.abtwork .container {
  background-color: #2d2640;
  background-image: url("/images/bg-pattern-how-we-work-mobile.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  padding: 75px 0 70px;
  color: #fafafa;
  text-align: center;
}

.abtwork h3 {
  font-size: 2.62em;
  padding: 0 43px;
  margin: 0 0 45px;
}

.abtwork a {
  border: 1px solid #fafafa;
  color: #fafafa;
  padding: 15px 25px;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 1px;
}

@media screen and (min-width: 999px) {
  .abtwork .container {
    background-image: url("/images/bg-pattern-intro-right-desktop.svg");
    text-align: left;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto 1fr)[2];
        grid-template-columns: repeat(2, auto 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 76px 82px;
  }
  .abtwork .container h3 {
    margin-bottom: 0;
    font-size: 3.62em;
    padding: 0;
  }
  .abtwork .container a {
    grid-column: -1;
    margin-top: 0;
  }
}

.footer {
  font-size: 0.875em;
  font-weight: 700;
  text-transform: uppercase;
  margin: 147px -20px 0;
  padding: 65px 0;
  background-color: #fafafa;
  position: relative;
  text-align: center;
}

.footer .container {
  padding: 0 20px;
}

.footer_head {
  position: relative;
  padding-bottom: 38px;
}

.footer_head .logo {
  display: block;
  margin: 0 auto;
  padding-bottom: 30px;
}

.footer_head a:not(:last-child) {
  margin-right: 15px;
}

@media screen and (min-width: 999px) {
  .footer_head {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(100px, 1fr) (auto)[4];
        grid-template-columns: minmax(100px, 1fr) repeat(4, auto);
    grid-gap: 20px;
    padding-bottom: 33px;
    margin-bottom: 50px;
  }
  .footer_head .logo {
    display: inline;
    margin: 0;
    padding-bottom: 0;
  }
}

.footer_head::after {
  content: "";
  border-top: 1px solid #837d87;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer_content {
  display: -ms-grid;
  display: grid;
}

@media screen and (min-width: 999px) {
  .footer_content {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer_content ul {
  margin: 40px 0 0;
  padding-left: 0;
}

@media screen and (min-width: 999px) {
  .footer_content {
    margin: 0;
  }
}

.footer_content ul > li {
  list-style-type: none;
}

.footer_content ul > li:not(:last-child) {
  margin-bottom: 20px;
}

.footer_content ul > li:not(:nth-child(1)) {
  letter-spacing: 1px;
}

.footer_content ul > li > a {
  color: #2b272f;
}

.footer_content ul > li:first-child {
  margin-bottom: 40px;
}

.footer_content ul > li:first-child > a {
  color: #837d87;
}

footer::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("/images/bg-pattern-footer-mobile.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (min-width: 999px) {
  footer::before {
    background-image: url("/images/bg-pattern-footer-desktop.svg");
  }
}
/*# sourceMappingURL=style.css.map */